body {
    margin: 0;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #333;
    background: url("https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExeHM5emQ0dTVlcXV3aXpqZnpxNGZiYW9zODZodmdwb2xhb3ZzbncwcCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/wR77d4zcNpkJZv9HV1/giphy.gif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh; /* Assure que le body a la hauteur de la fenêtre */
}

header {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: rgba(30, 30, 30, 0.8); 
    border-bottom: 5px solid rgba(255, 255, 255, 0.5);
}

.logo {
    font-size: 48px;
    margin: 14px;
    flex-grow: 1;
    color: #fff;
}

.menu-container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-icon {
    font-size: 50px;
    cursor: pointer;
    margin-right: 20px;
    color: #fff;
}

.overlay {
    display: none; /* Masqué par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Assurez-vous que la couleur est semi-transparente */
    z-index: 10;
}

.search-bar {
    position: absolute;
    top: 0;
    right: 100%;
    width: 300px;
    height: 50px;
    transition: right 0.8s ease;
    z-index: 20;
    opacity: 0;
    pointer-events: none;
}

.search-bar.active {
    right: 15%;
    opacity: 1;
    pointer-events: auto;
}

.search-bar input {
    width: 100%;
    height: 80%;
    padding: 10px;
    margin-top: 40px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 25px;
}

.search-container {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.search-icon {
    background: none;
    font-size: 35px;
    border: none;
    cursor: pointer;
    margin-top: 8px;
    padding: 5px;
    color: #ffffff; /* Rose vif */
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne suivante */
    justify-content: center; /* Centre les sections horizontalement */
}

section {
    flex: 0 0 calc(50% - 20px); /* 50% de largeur moins la marge */
    margin: 10px; /* Marge autour de chaque section */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;
    transition: transform 0.3s;
    position: relative; /* Positionnement relatif pour le lien */
}

section a {
    display: block; /* Le lien occupera toute la section */
    height: 100%; /* Prend toute la hauteur de la section */
    width: 100%; /* Prend toute la largeur de la section */
    text-decoration: none; /* Enlève le soulignement du lien */
    color: #fff; /* Couleur du texte */
}

section:hover {
    transform: scale(1.04); /* Effet de zoom sur hover */
}

section h2 {
    text-align: center;
    color: #fff; 
}

a {
    text-decoration: none;
    color: #fff; 
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* Prend toute la largeur */
    text-align: center;
    padding: 10px 0;
    background-color: rgba(30, 30, 30, 0.8);
    color: #fff;
}
@keyframes gradient-animation {
    0% {
        background-position: 0% 50%; /* Début de l'animation */
    }
    50% {
        background-position: 100% 50%; /* Milieu de l'animation */
    }
    100% {
        background-position: 0% 50%; /* Fin de l'animation */
    }
}
/* Spécificité pour chaque section avec des dégradés */
.snake {
    background: linear-gradient(270deg, #222738, #181825, #222738, #181825);
    background-size: 400% 400%; /* Pour permettre à l'animation de bouger */
    animation: gradient-animation 10s ease infinite; /* Durée et type d'animation */
}

.flappy {
    background: linear-gradient(270deg, #87CEEB, #90EE90, #87CEEB, #90EE90);
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
}

.espace {
    background: linear-gradient(270deg, #000, rgba(255, 255, 255, 0.1), #000, rgba(255, 255, 255, 0.1));
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
}

.deux {
    background: linear-gradient(270deg, #faf8ef, #7d7d7d, #faf8ef, #7d7d7d);
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
}

.Crossy {
    background: linear-gradient(270deg, #7CFC00, #003366, #7CFC00, #003366);
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
}

.Tetris {
    background: linear-gradient(270deg, #9c9c9c, #222738, #9c9c9c, #222738);
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
}

.tower {
    background: linear-gradient(270deg, #333344, #7d7d7d, #333344, #7d7d7d);
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
}
.dino {
    background: linear-gradient(270deg, #333333, #f4e285, #333333, #333333);
    background-size: 400% 400%; /* Pour permettre à l'animation de bouger */
    animation: gradient-animation 10s ease infinite; /* Durée et type d'animation */
}
.car {
    background: linear-gradient(270deg, #979797, #ffffff, #979797, #ffffff);
    background-size: 400% 400%; /* Pour permettre à l'animation de bouger */
    animation: gradient-animation 10s ease infinite; /* Durée et type d'animation */
}
