@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");

body{
    margin: 0;
    font-family: "Press Start 2P", cursive;
    font-size: 2em;
    color: white;
    position: relative; /* Nécessaire pour que le header soit positionné par rapport au body */
}
button{
    outline: none;
    cursor: pointer;
    border: none;
    box-shadow: 3px 5px 0px 0px rgba(0,0,0,0.75);
}
#counter{
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
    font-weight: bold;
}
#end{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}
#end button{
    background-color: red;
    padding: 20px 50px 20px 50px;
    font-family: inherit;
    font-size: inherit;
}
#controlls{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
#controlls div {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: auto auto;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    margin-bottom: 20px;
  }
  #controlls button {
    width: 100%;
    background-color: white;
    border: 1px solid lightgray;
  }
  #controlls button:first-of-type {
    grid-column: 1/-1;
  }
  header {
	position: absolute; /* Positionne le menu au-dessus du fond */
	top: 0; /* Place le menu en haut de la page */
	width: 100%; /* Prend toute la largeur de la page */
	padding: 20px; /* Espace autour du menu */
	display: flex;
	box-sizing: border-box; /* Pour inclure le padding dans la largeur du header */
	z-index: 200; /* Assure que le menu est toujours au-dessus des autres éléments */
}

.menu-container {
	display: flex;
	align-items: center;
	margin-left: 915px;
}

.menu-icon {
	font-size: 40px;
	cursor: pointer;

}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}
